<div class="row">
  <h1>About:</h1>
</div>
<div class="row">
  <p>This is an example application for sending templated emails. Click <%= link_to("to send a new email", new_templated_email_path) %>.</p>
</div>