<div class="row">
  <h1>Previously Sent Emails:</h1>
</div>

<div class="row">

  <% if @templated_emails.empty? %>
    <p>There are no emails to display.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sender</th>
          <th scope="col">Recipient</th>
          <th scope="col">Message</th>
          <th scope="col">Time and Date</th>
        </tr>
      </thead>
      <tbody>
        <% @templated_emails.each do |templated_email| %>
          <tr>
            <td><%= templated_email.sender_name %></td>
            <td><%= templated_email.destination_email %></td>
            <td><%= link_to templated_email.message_template.name, templated_email.message_template %></td>
            <td><%= templated_email.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>